<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Leasing System - Sua loja de automóveis com os melhores preços">
    <title>Store</title>

    <link rel="stylesheet" href="/css/store.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/admin.js"></script>
</head>

<body>
    <div class="header-container">
        <div class="logo-name">
            <h1>Leasing System</h1>
        </div>
        <div class="header-buttons">
            <button id="dark-mode-toggle">Dark Mode</button>
            <button id="language-toggle">Language</button>
            <a href="/"><button id="return">Exit</button></a>
        </div>
    </div>
    <div class="main">
        <div class="user-control">
            <div class="header">
                <h1>User Control</h1>
                <p>Manage users here.</p>
            </div>
            <div class="user-list"></div>
        </div>
        <div class="car-control">
            <div class="header">
                <h1>Car Control</h1>
                <p>Manage cars here.</p>
            </div>
            <div class="car-list"></div>
        </div>
    </div>
</body>

</html>